.footer {
    height: 30px;
    background-color: #000;
    color: #fff;
    text-align: center;
}

.newsletter {
    border-top: 3px solid #f5f5f5;
    padding: 2rem 0;
}

.footer-list {
    padding: 1rem 0;
    border-top: 2px solid #f5f5f5;
    border-bottom: 3px solid #f5f5f5;
    margin-bottom: 1rem;
}

.footer-list p {
    font-weight: 500;
    margin-bottom: 0.5rem;
}

.footer-list ul {
    padding-left: 0;
}
.footer-list ul li {
    list-style: none;
    margin-left: 0;
    cursor: pointer;
}