.profileContainer{
    margin-top: 5rem;
}

.user-profile {
    height: 450px;
    margin: 2% 0;
    background-color: #f6f6f6;
    padding: 2rem 4rem;
}

.more-profile .side-section {
    background-color: #f2f2f2;
    height: 400px;
}

.more-profile .main-section {
    background-color: #f9f9f9;
    height: 400px;
}

.more-profile .side-section, .more-profile .side-section .side-section-list ul {
    padding: 0;
}

.more-profile .side-section .side-section-list ul li {
    list-style: none;
    padding: 1rem;
}

.more-profile .side-section .side-section-list ul li a{
    color: #000;
    display: block;
    width: 100%;
    text-decoration: none;
    cursor: pointer;
}

.more-profile .side-section .side-section-list ul li:hover{
    color: #000;
    background-color: #fff;
}