/* @import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap'); */

.navbar {
    height: 4rem;
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #efefef;
    background-color: #fff;
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: 600;
    /* font-family: 'Pacifico', cursive; */
}

.nav-link {
    margin-right: 1rem;
}

.navbar .nav-link:hover {
    color: #efefef;
}

.navbar .navbar-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 200px;
}