.productContainer{
    margin-top: 5rem;
}

.productFilter {
    height: 600px;
    background-color: #f5f5f5;
    padding: 1.5rem;
}

.product {
    height: 280px;
    background-color: #f5f5f5;
    border-radius: 20px;
    margin: 1rem;
}