.product-container{
    margin-top: 5rem;
}

.product-filter {
    background-color: #f5f5f5;
    padding: 1.5rem;
}

.product {
    background-color: #f5f5f5;
    height: 370px;
    border-radius: 20px;
    padding: 20px 10px;
    margin: 10px;
    display: flex;
    place-items: center;
    flex-direction: column;
    cursor: pointer;
    text-align: center;
}

.product p {
    font-size: 1rem;
}

.product-details{
    margin-top: 5rem;
}

.pagination {
    display: flex;
    place-content: center;
    list-style: none;
    cursor: pointer;
    margin: 2rem 0;
    color: #0d6efd;
  }
  
  .pagination a {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #0d6efd;
    background-color: #f5f5f5;
    margin: 0 5px;
  }

  .pagination__link {
    font-weight: bold;
    text-decoration: none;
  }
  
  .pagination__link--active a {
    background-color: #fff;
  }
  
  .pagination__link--disabled a {
    color: rgb(198, 197, 202);
    border: 1px solid rgb(198, 197, 202);
  }
  